<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studdy Buddy</title>
  <link rel="stylesheet" href="style.css">
</head>
 <body>
    <div class="hero">

        <video autoplay loop muted plays-inline class="background-video">
            <source src="Images/RPReplay_Final1677653151.mp4" type="video/mp4">
        </video>

        <nav>
            <img src="Images/Logo.jpeg" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Out</a></li>
                 </ul>
        </nav>

        <div class="banner-text">
            <h1>  Need help studying? </h1>
            <p>Studdy Buddy is the UK's largest online student community. Find a friend, relate and connect.</p>
            <a href="#">SIGN UP</a>


    </div>

 </body>
</html>