<header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
    <widgetbot server="1078388531136823316" channel="355719584830980096" width="800" height="600">
    </widgetbot>
    {{<script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script> --}}
    {{!-- <button type="button" class="collapsible">Open Collapsible</button>
<div class="content">
  <p>Lorem ipsum...</p> --}}
</div>
    </div>
</header>
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>

<header class="hero">
    <widgetbot server="1078390559804231682" channel="1078390560445972632" width="800" height="600">
  </widgetbot>
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
  <button type="button" class="collapsible">Open Collapsible</button>
<div class="content">
  <p>Lorem ipsum...</p>
  
  </div>
</header>